.advertising {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: auto;
}

.slider {
    justify-content: center;
}

.left-ad {
    width: 100%;
    display: flex;
    justify-content: center;
}

.left-ad img {
    width: 80%;
    height: 100%;
    display: none;
}

img.displaySlide {
    display: block;
    animation: fade;
    animation-duration: 1.1s;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4rem;
    padding: 5px 15px;
    background-color: #f4f4f4;
    ;
    color: #777;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.slider button:hover {
    color: #4e4d4d;
}

.prev {
    left: 14%;
}

.next {
    right: 14%;
}

@keyframes fade {
    from {
        opacity: .5;
    }

    to {
        opacity: 1;
    }
}