<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/news.css">
    <link rel="stylesheet" href="../assets/css/header_and_footer.css">
    <script src="https://kit.fontawesome.com/895c5ecb21.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="header">
        <div>
            <a href="../index.html"><img src="https://samcenter.vn/images/thumbs/0005426_0003182_logo%20(2).png"
                    alt=""></a>
        </div>
        <nav class="main-menu">
            <div class="nav-left">
                <ul>
                    <li><a href="about.html">Giới thiệu</a></li>
                    <li>
                        <a href="product.html">Sản phẩm</a>
                        <ul>
                            <li><a href="">Sản phẩm Khuyến mãi</a></li>
                            <li><a href="">Sản phẩm mới</a></li>
                            <li><a href="">Sản phẩm bán chạy</a></li>
                        </ul>
                    </li>
                    <li><a href="news.html">Bài viết</a></li>
                    <li><a href="contact.html">Liên hệ</a></li>
                    <li><a href="faq.html">Hỏi đáp</a></li>
                </ul>
            </div>
            <div class="nav-right">
                <ul>
                    <li><i class="fa-solid fa-magnifying-glass"></i></li>
                    <li><i class="fa-solid fa-cart-shopping"></i></li>
                    <li><i class="fa-solid fa-user"></i></li>
                    <li><a href="">Đăng nhập</a></li>
                    <li><a href="">Đăng ký</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="center">
        <div class="list-box">
            <div class="box-content">
                <div class="head-title">
                    <h3>Danh sách tin tức</h3>
                </div>
                <div class="content-detail">
                    <ul>
                        <li><a href="">Mẹo hay</a></li>
                        <li><a href="">Tư vấn</a></li>
                        <li><a href="">Đánh giá</a></li>
                        <li><a href="">Tin khác</a></li>
                        <li><a href="">SamVideo</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="news-box">
            <div class="box-content-right">
                <div class="news-card">
                    <img src="https://samcenter.vn/images/thumbs/0005523_Samsung-Unpacked-2024_1900.jpeg" alt="">
                    <div class="news-title">
                        Samsung Chính Thức Xác Nhận Galaxy S24 Series Sẽ Ra Mắt Vào 18/01/2024
                    </div>
                    <div class="news-date">
                        <i class="calendar-icon"></i>
                        <span>03/01/2024</span>
                    </div>
                </div>
                <div class="news-card">
                    <img src="https://samcenter.vn/images/thumbs/0005439_galaxy_s23_ultra_thiet_ke_1900.jpeg" alt="">
                    <div class="news-title">
                        Samsung Chính Thức Xác Nhận Galaxy S24 Series Sẽ Ra Mắt Vào 18/01/2024
                    </div>
                    <div class="news-date">
                        <i class="calendar-icon"></i>
                        <span>03/01/2024</span>
                    </div>
                </div>
                <div class="news-card">
                    <img src="https://samcenter.vn/images/thumbs/0005442_iosmiwBUJ5dDW2iNCEEBQU-970-80.jpg_1900.webp" alt="">
                    <div class="news-title">
                        Samsung Chính Thức Xác Nhận Galaxy S24 Series Sẽ Ra Mắt Vào 18/01/2024
                    </div>
                    <div class="news-date">
                        <i class="calendar-icon"></i>
                        <span>03/01/2024</span>
                    </div>
                </div>
                <div class="news-card">
                    <img src="https://samcenter.vn/images/thumbs/0005448_b4P5sYsLhJQfHGXc334Jff-650-80.jpg_1900.webp" alt="">
                    <div class="news-title">
                        Samsung Chính Thức Xác Nhận Galaxy S24 Series Sẽ Ra Mắt Vào 18/01/2024
                    </div>
                    <div class="news-date">
                        <i class="calendar-icon"></i>
                        <span>03/01/2024</span>
                    </div>
                </div>
                <div class="news-card">
                    <img src="https://samcenter.vn/images/thumbs/0005443_Screenshot%202023-12-28%20165613_1900.png" alt="">
                    <div class="news-title">
                        Samsung Chính Thức Xác Nhận Galaxy S24 Series Sẽ Ra Mắt Vào 18/01/2024
                    </div>
                    <div class="news-date">
                        <i class="calendar-icon"></i>
                        <span>03/01/2024</span>
                    </div>
                </div>
                <div class="news-card">
                    <img src="https://samcenter.vn/images/thumbs/0005446_samsung-galaxy-s24-ultra_1900.webp" alt="">
                    <div class="news-title">
                        Samsung Chính Thức Xác Nhận Galaxy S24 Series Sẽ Ra Mắt Vào 18/01/2024
                    </div>
                    <div class="news-date">
                        <i class="calendar-icon"></i>
                        <span>03/01/2024</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="footer">
        <p>Từ tháng 01/2022, SamCenter – chính thức là đại lý uỷ quyền SamSung tại Việt Nam. Trở thành đối tác với
            SamSung giúp SamCenter giữ vững cam kết luôn đem lại giá trị tốt nhất cho người dùng sản phẩm SamSung
            tại Việt Nam.</p>
        <p>Toàn bộ sản phẩm SamSung và nhiều sản phẩm phụ kiện… đều là hàng chính hãng được phân phối thông qua công
            ty SamSung Việt Nam, bảo hành tại các trung tâm uỷ quyền tại Việt Nam trong thời gian 12 tháng và đi kèm
            với mức giá tốt nhất thị trường từ SamCenter</p>
        <hr>
        <div>
            <p>© 2016 Công ty Cổ Phần HESMAN Việt Nam GPDKKD: 0107465657 do Sở KH & ĐT TP. Hà Nội cấp ngày
                08/06/2016.</p>
            <p>Địa chỉ: Số 76 Thái Hà, phường Trung Liệt, quận Đống Đa, thành phố Hà Nội, Việt Nam</p>
            <p>Đại diện pháp luật: PHẠM MẠNH HÒA | ĐT: 0247.305.9999 | Email: lienhe@samcenter.vn</p>
            <img src="https://samcenter.vn/images/uploaded-source/Trang%20ch%E1%BB%A7/Bocongthuong.png" width="150"
                alt="">
        </div>
    </div>
</body>

</html>